.activity-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.activity-status {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

@media (min-width: 1175px) {
	.activity-status {
		grid-template-columns: repeat(4, 1fr);
	}
}

.activity-list {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}