section {
	display: flex;
	flex-direction: row;
	gap: 18px;
	align-items: center;
	justify-content: start;
	padding: 20px;
	border-bottom: 1px solid;
	border-color: var(--gray-200);
}

h1 {
	font-size: 1.750rem;
	color: var(--black);
	line-height: 30px;
}

p {
	font-size: 1rem;
	color: var(--gray-500);
	line-height: 18px;
}

.icon-div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
	background: var(--blue-500);
	border-radius: 14px;
}

.title-div {
	display: flex;
	align-items: center;
	gap: 12px;
}