.status-content {
	display: flex;
	flex-direction: column;
	background: var(--white);
	border-radius: 8px;
	padding: 18px;
	border: 1px solid var(--gray-200);
	text-align: start;
	gap: 8px;	
}

.status-content h1 {
	font-size: 1.750rem;
	font-weight: 500;
}

.status-content p {
	font-size: 1rem;
	color: var(--gray-500);
}